<?xml version="1.0"?>
<launch>
	<arg name="init_position"/>
	<arg name="form_position"/>
	<arg name="robot_name"/>
	<arg name="robot_index"/>

	<group ns="$(arg robot_name)">
		<node name="decentralized_controller" pkg="decentralized_controller" type="decentralized_controller" output="screen" args="$(arg robot_index)">
			<rosparam param="position_in_formation" subst_value="True">$(arg form_position)</rosparam>
			<rosparam param="initial_position" subst_value="True">$(arg init_position)</rosparam>
			<rosparam command="load" file="$(find decentralized_controller)/config/decentralized_controller.yaml" />
		</node>
	</group>
</launch>
